* {
  box-sizing: border-box;
  border: none;
  outline: unset;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 500px;
  padding: 60px 30px;
}

table {
  border-spacing: 10px;
}

.d-flex {
  display: flex;
}

.py {
  padding: 20px 0;
}

.mg {
  margin-right: 20px;
}

.w-1 {
  width: 170px;
}

.w-3 {
  width: 130px;
}

.fl {
  flex: 5;
}

.background {
  background-color: rgb(110, 205, 80);
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.bor_der {
  border: 2px solid rgb(5 85 150);
}

.pd {
  padding: 10px 20px;
}

.error {
  color: red;
  font-size: 17px;
  margin: 10px 10px 20px 20px;
  display: flex;
}

.required_label::after {
  content: " *";
  color: red;
}

.form_gr {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.form_gr input,
.form_gr select {
  padding: 10px;
  box-sizing: border-box;
  line-height: 1;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 35px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: 2px solid rgb(5 8 150);
  border-radius: 5px;
}

.adress-label {
  height: 41px;
}

.adress-input {
  padding: 10px 10px 10px 10px;
}

.file-input {
  display: flex;
  align-items: center;
}

.mgin {
  margin-top: 10px;
}

.fle {
  margin-top: 20px;
  margin-left: 15px;
}